body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
padding:40px;
}

h1{
text-align:center;
color:#22d3ee;
}

.container{
display:flex;
gap:40px;
margin-top:40px;
justify-content:center;
}

.upload-box{
border:2px dashed #22d3ee;
padding:30px;
width:350px;
text-align:center;
border-radius:10px;
}

button{
background:#22d3ee;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#06b6d4;
}

.stats{
background:#1e293b;
padding:20px;
border-radius:10px;
width:250px;
}

.badge{
display:block;
background:#334155;
padding:8px;
margin-top:10px;
border-radius:6px;
}

.images{
margin-top:40px;
display:flex;
gap:40px;
justify-content:center;
}

.images img{
width:400px;
border-radius:10px;
border:3px solid #22d3ee;
}